
Assignments/df.csv
Assignments/df_data.json
Assignments/formatted_data.json
Assignments/j_graph.csv
Assignments/port2.ipynb
Assignments/pyramid.ipynb
Assignments/t_data.csv
images/goodg.jpg
images/goodg2.jpg
images/notgoodg.jpg
